*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: pink;
    padding-left: 2%;
    padding-top: 1%;
}

.logo{

    height: 70px;
    vertical-align: middle;
}

.brand{
    font-size: 40px;
    font-weight: 400px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: white;
    margin-top: 50px;
}
.conteiner{
    width: 70%;
    background-color: white;
    margin: auto;
    
    
}
.search{
    padding-left: 7%;
}
.search button{

    padding: 6px 10px;
    border-radius: 13%;
    
}
.task{
    border: 1px solid #47adf1;
    color: white;
    background-color: #47adf1;
    
}
.selection{

    border: 1px solid #c5cbd0;
    background-color: white;
    color: #c5cbd0;
}
hr{
    margin-top: 20px;
    border-style: solid;
    border-color: #f6f8f9 ;
}
.list{
    margin-top: 40px;
}
.points{
    list-style-type: none;
    font-size: 20px;
    font-weight:bold ;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}
.points li{
    margin-top: 10px;
    margin-left: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
}
.check{
    margin-top: 10px;
    background-color: white;
    border:1px solid #64c0a9;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #64c0a9;
    font-size: 15px;
}
.listbutton{
 
    font-size: 40px;
    margin-top: 10px;
}
.editorial{
    display: inline-block;
    background-color: pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

    
}
.q1{

    background-color:  #9c72e4;
    color: white;
    
    
}
.x{
    margin-top: 10px;
    background-color: white;
    border:1px solid #ea453b;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #ea453b;
    font-size: 13px;
}
.mobile{
    background-color: #f29e33 ;
    color: ;
}
